*{
  margin: 0px;
  box-sizing: border-box;
  /* outline: 1px solid red !important; */
}
h1{
  width:100vw;
  height: 20vh;
  font-size: 3rem;
  text-align: center;
  color: rgb(51, 21, 21);
  background-image: linear-gradient(to bottom, rgb(236, 204, 204), rgb(223, 168, 156));
}
#game div {
  border: 1px solid black;
  width: 30%;
  height: 15%;
  margin: 0px;
  border-radius:5px ;
  
} 
section{
  width: 100vw;
  height: 72vh;
  background-color: rgb(223, 168, 156);
  display: flex;
  justify-content: space-between;
}
.score, .timer{
  width: 20%;
  height: 50%;
  background-color: rgb(206, 162, 250);
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: rgb(20, 22, 180) ;
  font-size: 1.5rem;
}

.time-out{
  font-size: 2rem;
  color: red;
}
span{
  font-size: 3rem;
  color: rgb(10, 10, 10);
}
.start{
  width:100vw;
  height:8vh;
  background-image: linear-gradient(to right, rgb(221, 171, 171), rgb(226, 207, 172));
  display: flex;
  align-items: center;
  justify-content: space-around;
}
button{
  border: none;
  border-radius: 4px;
  width:20%;
  height: 70%;
  font-size: 1.2rem;
  color:rgb(94, 70, 70);
  background-color: antiquewhite;
}

#game{
  background-color: antiquewhite;
  border-radius: 15px;
width: 40%;
height:100%;
display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
.green{
  background-color: green;
}
.orange{
  background-color: orange;
}
.purple{
  background-color: purple;
}
.yellow{
  background-color: yellow;
}

@media(max-width:425px){
  h1{
    height: 5vh;
    font-size: 2rem;
  }
  .start{
    height: 6vh;
    background-image: none;
    background-color: rgb(223, 168, 156);
  }
  section{
    height: 89vh;
  background-color: rgb(223, 168, 156);
  display: flex;
  flex-flow: column wrap;
  }
  #game{
    width: 100%;
height:80%;
  }
  .score, .timer{
    width: 100%;
    height: 10%;
    flex-direction: row;
    font-size: 1.2rem;
    border-radius: 0px;
  }
  span{
    font-size: 2rem;
  }
  
}