/* Root */
* {
  margin: 0px;
  box-sizing: border-box;
  touch-action: none;
  /* outline: 1px solid red !important; */
}
/* Global */
body {
  background-color: #E07A5F;
  font-family: "Bungee", "Montserrat";
  font-size: 20px;
}

/* Initial container */
.start-prompt {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

h1 {
  font-size: 8rem;
  text-align: center;
}

.start {
  height: 10vh;
  width: 20vw;
}
#start-btn {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 25px;
}

/* Game container */

#main-game {
  display: none;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  gap:30px;
  justify-content: center;
}

#game {
  height: 66%;
  width: 56%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #81B29A;
  border-radius: 8px;
}

#game div {
  width: 10vw;
  height: 12vh;
  margin: 0px;
  cursor: pointer;
  perspective: 30vw;
  background-color: transparent;
  border-radius: 3px;
  perspective: 30vw;
}
.flip-container {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card {
  transform: rotateY(180deg);
}

.flip-container div {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.inner-one {
  pointer-events: none;
  background-image: url("./gifs/one.gif");
  background-size: cover;
  transform: rotateY(180deg);
}
.inner-two {
  pointer-events: none;
  background-image: url("./gifs/two.gif");
  background-size: cover;
  transform: rotateY(180deg);
}
.inner-three {
  pointer-events: none;
  background-image: url("./gifs/three.gif");
  background-size: cover;
  transform: rotateY(180deg);
}
.inner-four {
  pointer-events: none;
  background-image: url("./gifs/four.gif");
  background-size: cover;
  transform: rotateY(180deg);
}
.inner-five {
  pointer-events: none;
  background-image: url("./gifs/five.gif");
  background-size: cover;
  transform: rotateY(180deg);
}
.inner-six {
  pointer-events: none;
  background-image: url("./gifs/six.gif");
  background-size: cover;
  transform: rotateY(180deg);
}
.inner-seven {
  pointer-events: none;
  background-image: url("./gifs/seven.gif");
  background-size: cover;
  transform: rotateY(180deg);
}
.inner-eight {
  pointer-events: none;
  background-image: url("./gifs/eight.gif");
  background-size: cover;
  transform: rotateY(180deg);
}
.inner-nine {
  pointer-events: none;
  background-image: url("./gifs/nine.gif");
  background-size: cover;
  transform: rotateY(180deg);
}
.inner-ten {
  pointer-events: none;
  background-image: url("./gifs/ten.gif");
  background-size: cover;
  transform: rotateY(180deg);
}
.inner-eleven {
  pointer-events: none;
  background-image: url("./gifs/eleven.gif");
  background-size: cover;
  transform: rotateY(180deg);
}
.inner-twelve {
  pointer-events: none;
  background-image: url("./gifs/twelve.gif");
  background-size: cover;
  transform: rotateY(180deg);
}

.outer-one {
  background-image: url("./gifs/smiley.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.outer-two {
  background-image: url("./gifs/smiley.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.outer-three {
  background-image: url("./gifs/smiley.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.outer-four {
  background-image: url("./gifs/smiley.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.outer-five {
  background-image: url("./gifs/smiley.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.outer-six {
  background-image: url("./gifs/smiley.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.outer-seven {
  background-image: url("./gifs/smiley.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.outer-eight {
  background-image: url("./gifs/smiley.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.outer-nine {
  background-image: url("./gifs/smiley.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.outer-ten {
  background-image: url("./gifs/smiley.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.outer-eleven {
  background-image: url("./gifs/smiley.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.outer-twelve {
  background-image: url("./gifs/smiley.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.display {
  border: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 2rem;
  background-color: #3D405B;
  color: #F2CC8F;
}

#reset-msg{
  display:none;
  height:20%;
  width:45%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap:5%;
}

.game-over{
  text-align: center;
}

@media (max-width: 425px) {
  h1 {
    font-size: 4rem;
    text-align: center;
  }
  .start {
    height: 10vh;
    width: 60vw;
  }
  #game {
    height: 50%;
    width: 80%;
  }
  #game div {
    width: 14vw;
    height: 10vw;
  }
}
